.main{
  .left-side{
    .left-widget{
      padding: 0px 5px 20px;
      // border: 1px solid #ccc;
      // box-shadow: $box-shadow-dark;
      border-radius: 5px;
      .left-widget-header{
        h3{
          font-size: 20px;
        }
      }
    }
  }
  .right-side{
    border-left: 1px solid #ccc;
    padding-left: 40px;
    .section-heading{
      h3{
        font-size: 20px;
      }
    }
    .property-wrapper{
      padding: 20px 0px;
      .single-property-wrapper{
        .card{
          border: none;
          box-shadow: $box-shadow-dark;
          border-radius: 10px;
          overflow: hidden;
          transition: .5s;
          .card-header{
            border-radius: 0px;
            overflow: hidden;
            img{
              height: 250px;
              width: 100%;
              object-fit: cover;
              object-position: center center;
              transition: .5s;
            }
          }
          &:hover{
            transform: translateY(-10px);
            .card-header{
              img{
                transform: scale(1.1);

              }
            }
          }
          .card-body{
            .card-title{
              font-size: 18px;
            }
            .meta-data{
              p{
                font-size: 13px;
                color: $black;
                line-height: 26px;
              }
            }
          }
          .card-footer{
            background: white;
          }
        }
      }
    }
  }
}