@media screen and (max-width:768px) {
  header {
    .navbar {
      .navbar-toggler {
        outline: none;
        border: 2px solid $primary;
        color: $primary;
      }

      .navbar-brand {
        width: 150px;
      }

      .nav {
        padding: 10px 0px;
        margin-top: 10px;
      }
    }

    .main-banner {

      .banner-inner {
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 0 auto;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        .big-heading{
          h1{
            font-size: 44px;
          }
        }
        .sub-title{
          font-size: 20px;
          padding: 12px 20px;
        }
      }
    }
  }
  .property{
    .left-side{
      height: auto;
      margin-bottom: 30px;
    }
    .right-side{
      padding-left: 0px;
    }
  }
  .main {
    .img-wrapper {
      margin-bottom: 20px;
    }

    .content-wrapper {
      padding-right: 0%;
    }
  }

  .main {
    padding: 80px 0px;

    .main-wrapper {
      margin-bottom: 80px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .left-style {
      .content-wrapper {
        padding-left: 0%;
      }
    }

    .right-style {
      .content-wrapper {
        padding-right: 0%;
      }
    }

  }
  
  #blogs{
    .blog-post{
      .meta{
        display: block;
      }
      .sm-meta-author{
        display: none;
      }
    }
  }

}

@media screen and(max-width:425px) {
  header {
    .main-banner {
      .banner-inner {
        .big-heading{
          h1{
            font-size: 44px;
          }
        }
        .sub-title{
          font-size: 18px;
          padding: 12px 20px;
        }
      }
    }
  }

  #blogs{
    .blog-post{
      .meta{
        display: none;
      }
      .sm-meta-author{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
        .meta-infos{
          a{
            text-decoration: none;
            font-size: 14px;
            color: rgb(22, 22, 22);
            margin-right: 10px;
            transition: .3s;
            &:hover{
                color: $primary;
            }
          }
          i{
            font-size: 14px;
            color: black;
            font-weight: bold;
          }
        }
      }
    }
  }

}