@import 'common';
@import 'header';
@import 'footer';
@import 'select2';
@import 'home';
@import 'about';




.home-banner{
  background: url(../images/bg-1.jpg);
  min-height: 200px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    bottom: 0;right: 0;
    background: #14141457;
    z-index: 1;
  }
  .banner-inner{
    position: absolute;
    z-index: 10;
    max-width: 80%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .big-heading{
      display: block;
      text-align: center;
      h1{
        background: #ffffff70;
        padding: 10px 30px;
        border-radius: 3px;
        color: $white;
        text-shadow: 2px 2px 10px #0303035e;
        font-size: 30px;
      }
    }
  }
}







.history-banner{
  background: url(assets/images/bg-3.jpg);
  min-height: 200px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    bottom: 0;right: 0;
    background: #00000077;
    z-index: 1;
  }
  .banner-inner{
    position: absolute;
    z-index: 10;
    max-width: 80%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .big-heading{
      display: block;
      text-align: center;
      h1{
        background: #ffffff70;
        padding: 10px 30px;
        border-radius: 3px;
        color: $white;
        text-shadow: 2px 2px 10px #0303035e;
        font-size: 30px;
      }
    }
  }
}

.main{
  .stage-tabs{
    #stageTab{
      display: flex;
      justify-content: space-between;
      border: none;
      margin-bottom: 70px;
      position: relative;
      &::after{
        content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
          height: .5px;
          background: #dfdfdf;
          z-index: -1;

      }
      .nav-item{
        background: white;
        .nav-link{
          padding: 10px 25px;
          border: 1px solid #dfdfdf;
          border-radius: 3px;
          font-size: 15px;
          color: $text-color;
          font-weight: 500;
          transition: .5s;
          .number{
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #dfdfdf;
            border-radius: 50%;
            text-align: center;
            line-height: 27px;
            margin-right: 5px;
            font-size: 14px;
          }
          &.active{
            color: $primary;
            border-color: $primary;
            .number{
              display: inline-block;
              width: 30px;
              height: 30px;
              border: 1px solid #FFDA55;
              background: #FFDA55;
              border-radius: 50%;
              text-align: center;
              line-height: 27px;
              margin-right: 5px;
            }
          }
        }
        &:hover{
          .nav-link{
            color: $primary;
          }
        }
      }
    }
  }
}


.contact-banner{
  background: url(assets/images/It-1.jpg);
  min-height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    bottom: 0;right: 0;
    background: #00000077;
    z-index: 1;
  }
  .banner-inner{
    position: absolute;
    z-index: 10;
    max-width: 80%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .big-heading{
      display: block;
      text-align: center;
      h1{
        background: #ffffff70;
        padding: 10px 30px;
        border-radius: 3px;
        color: $white;
        text-shadow: 2px 2px 10px #0303035e;
        font-size: 30px;
      }
    }
  }
}

.form-wrapper{
  margin-top: 10px;
  .form-group{
    label{
      font-size: 12px;
      color: $text-color;
    }
    .form-control{
      border-radius: 3px;
      outline: none;
      box-shadow: none;
      &::placeholder{
        font-size: 12px;
        transition: .5s;
      }
      &:focus{
        border-color: $primary;
        &::placeholder{
          color: white;
        }
      }
    }
  }
  .submit-btn{
    text-align: right;
    padding-top: 15px;
    button{
      border: none;
      outline: none;
      box-shadow: none;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 3px;
      background: $yellow;
      color: $black;
      transition: .5s;
      &:hover{
        background: $primary;
        color: $white;
      }
    }
  }
}


@media screen and (max-width:768px){
  header{
    .navbar{
      .navbar-toggler{
        outline: none;
        border: 2px solid $primary;
        color: $primary;
      }
      .navbar-brand{
        width: 150px;
      }
      .nav{
        padding: 10px 0px;
      }
    }
    .main-banner{
      
      .banner-inner{
        position: absolute;
        z-index: 10;
        width: 100%;
        margin: 0 auto;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .main{
    .img-wrapper{
      margin-bottom: 20px;
    }
    .content-wrapper{
      padding-right: 0%;
    }
  }
  
.main{
  padding: 80px 0px;
  .main-wrapper{
    margin-bottom: 80px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .left-style{
    .content-wrapper{
      padding-left: 0%;
    }
  }
  .right-style{
    .content-wrapper{
      padding-right: 0%;
    }
  }
  .stage-tabs{
    #stageTab{
      display: flex;
      justify-content: space-between;
      border: none;
      margin-bottom: 50px;
      position: relative;
      &::after{
        display: none;

      }
      .nav-item{
        background: white;
        width: 47%;
        margin: 10px 10px;
      }
    }
  }
}

}

@media screen and(max-width:425px) {
  
header{
  .main-banner{
    .banner-inner{
      position: absolute;
      z-index: 10;
      max-width: 80%;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .big-heading{
        display: block;
        text-align: center;
        h1{
          color: $white;
          text-shadow: 2px 2px 10px #0303035e;
          font-size: 50px;
          margin-bottom: 15px;
        }
      }
      .sub-title{
        font-size: 20px;
        color: white;
        padding: 15px 30px;
        background: #00669975;
        border-radius: 5px;
        text-align: center;
      }
    }
  }
}

footer{
  .footer-wrapper{
    display: block;
    text-align: center;
    .copyright{
      span{
        display: none;
      }
    }
    .links{
      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

.home-banner,.about-banner,.contact-banner{
  .banner-inner{
    position: absolute;
    z-index: 10;
    width: 80%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .big-heading{
      display: block;
      text-align: center;
      h1{
        display: inline-block;
        background: #ffffff70;
        padding: 10px 30px;
        border-radius: 3px;
        color: $white;
        text-shadow: 2px 2px 10px #0303035e;
        font-size: 24px;
      }
    }
  }
}

.history-banner{
  .banner-inner{
    position: absolute;
    z-index: 10;
    width: 80%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .big-heading{
      display: block;
      text-align: center;
      h1{
        background: #ffffff70;
        padding: 10px 30px;
        border-radius: 3px;
        color: $white;
        text-shadow: 2px 2px 10px #0303035e;
        font-size: 24px;
      }
    }
  }
}

.main{
  
  .stage-tabs{
    #stageTab{
      display: block;
      justify-content: space-between;
      border: none;
      margin-bottom: 50px;
      position: relative;
      &::after{
        display: none;

      }
      .nav-item{
        background: white;
        width: 100%;
        margin: 10px 0px;
      }
    }
  }
}
}